<div class="indexBox mt-3">
  <div class="container col-6 d-flex flex-column justify-content-center mt-5">
    {{!-- sort --}}
    <select class="form-select" aria-label="Default select example">
      <option selected>類別</option>
      <option value="1">家居物業</option>
      <option value="2">交通出行</option>
      <option value="3">休閒娛樂</option>
      <option value="4">餐飲食品</option>
      <option value="5">其他</option>
    </select>
    {{!-- total amount --}}
    <div class="totalAmount mt-5 d-inline-flex">
      <div class="col-4">
        <p style="font-size:24px;"><strong>總金額:</strong></p>
      </div>
      <div class="col-8 amount">
        <p style="font-size:42px;">EXAMPLE</p>
      </div>
    </div>
    {{!-- detail --}}
    {{#each expense }}
    <div class="detailContainer mt-3 mb-3">
      <div class="detail d-flex justify-content-between align-items-center">
        <i class="{{ this.icon }}" style="font-size: 40px;color:rgb(26, 86, 225);"></i>
        <div class="items flex-column col-6">
          <div class="item" style="font-size: 25px;">{{this.name}}</div>
          <div class="datetime" style="font-size: 10px;">{{this.date}}</div>
        </div>
        <div class="price" style="font-size: 40px;">{{this.amount}}</div>
        <div class="modify d-flex align-items-center">
          <a href="/expense/{{this._id}}/edit" class="btn btn-outline-primary me-2">
            <i class="fa-solid fa-circle-info" style="font-size: 20px;"></i>
          </a>
          <form action="/expense/{{this._id}}?_method=DELETE" method="post">
            <button type="submit" class="btn btn-outline-primary">
              <i class="fa-solid fa-trash-can" style="font-size: 20px;"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
    {{!-- create --}}
    <div class="create d-flex justify-content-center">
      <a href="/expense/new" class="btn btn-info">Create</a>
    </div>
  </div>
</div>